<div >


    <div ng-show="loginCtl.showSignIn"  layout="column" layout-align="center center" layout-fill="layout-fill">
        <md-card class="loginBox" >
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 style="color: white"><span>Sign In</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="formLogin" style="margin-top: 15px" >
                    <md-input-container class="md-icon-float md-block">
                        <label>Username</label>
                        <md-icon class="material-icons">person</md-icon>
                        <input   name="myEmail" ng-model="loginCtl.loginEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                        <div ng-messages="formLogin.myEmail.$error" role="alert">
                            <div ng-message="required">Please enter a value for this field.</div>
                            <div ng-message="pattern">This field must be a valid email address.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon class="material-icons">https</md-icon>
                        <input ng-keyup="$event.keyCode == 13 && loginCtl.login($event)"  name="name222"  minlength="6" ng-model="loginCtl.loginPassword" type="password" required>
                        <div ng-messages="formLogin.name222.$error" role="alert">
                            <div ng-message="minlength">Password must be at least 6 characters</div>
                        </div>

                    </md-input-container>
                    <div layout="row" layout-align="center center" >
                        <md-button    ng-click="loginCtl.login($event)" class="md-raised md-primary md-hue-2"  ng-disabled="!formLogin.$valid">Sign In</md-button>
                        <div flex="flex"></div>
                        <md-button ng-click="loginCtl.showSignIn = !loginCtl.showSignIn"  md-no-ink="md-no-ink">Create account</md-button>
                    </div>



                </form>
            </md-card-content>
            <div style="background: rgba(236, 236, 236, 0.29);margin-top: -15px;" layout="column"  layout-align="space-around stretch" >
                <div  style="font-weight: bold;font-size: 18px; padding-top: 10px;padding-bottom: 5px; text-align: center ">Login</div>
                <div style="text-align: center;margin-bottom: 10px;" >With Your Social Media Account</div>

                <div class="button md-padding"  layout="row" layout-xs="column" layout-align="space-around stretch"  >
                    <!--flex-xs ="50"-->
                    <div  style="margin: 0 0 10px 0"  layout="row" flex="30" flex-xs="100" layout-align="center stretch"  >
                        <div flex="0"  flex-xs="20" ></div>
                        <div ng-click="loginCtl.loginWithGithub($event)" layout="row" flex="100"  flex-xs="60" id="btn-github" class="btn-social" >
                            <i class="btn-social-icon"></i>
                            <div layout="row"layout-align="start center" ><span>&nbsp;&nbsp;&nbsp;&nbsp; Github</span></div>
                        </div>
                        <div flex="0" flex-xs="20" ></div>
                    </div>

                    <div style="margin: 0 0 10px 0"  layout="row" flex="30" flex-xs="100" layout-align="center stretch"  >
                        <div flex="0"  flex-xs="20" ></div>
                        <div ng-click="loginCtl.loginWithFacbook($event)"  layout="row" flex="100"  flex-xs="60" id="btn-facebook" class="btn-social" >
                            <i class="btn-social-icon"></i>
                            <div layout="row"layout-align="start center" ><span>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</span></div>
                        </div>
                        <div flex="0" flex-xs="20" ></div>
                    </div>

                    <div style="margin: 0 0 10px 0"  layout="row" flex="30" flex-xs="100" layout-align="center stretch"  >
                        <div flex="0"  flex-xs="20" ></div>
                        <div style="cursor:pointer" layout="row" flex="100"  flex-xs="60" id="btn-google" class="btn-social" >
                            <i class="btn-social-icon"></i>
                            <div layout="row"layout-align="start center" ><span>&nbsp;&nbsp;&nbsp;&nbsp;Google</span></div>
                        </div>
                        <div flex="0" flex-xs="20" ></div>
                    </div>


                  


                </div>

            </div>
        </md-card>
    </div>
    <div ng-hide="loginCtl.showSignIn"  layout="column" layout-align="center center" layout-fill="layout-fill">
        <md-card class="loginBox" >
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 style="color: white"><span>Sign Up</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form ng-submit="loginCtl.signUp($event)" name="Form" style="margin-top: 15px" >

                    <md-input-container class="md-icon-float md-block">
                        <label>Fullname</label>
                        <md-icon class="material-icons">person</md-icon>
                        <input   name="fullname" ng-model="loginCtl.fullname" minlength="4"  required>
                        <div ng-messages="Form.fullname.$error" role="alert">
                            <div ng-message="minlength">Fullname must be at least 4 characters</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon class="material-icons">email</md-icon>
                        <input   name="myEmail" ng-model="loginCtl.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                        <div ng-messages="Form.myEmail.$error" role="alert">
                            <div ng-message="required">Please enter a value for this field.</div>
                            <div ng-message="pattern">This field must be a valid email address.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon class="material-icons">https</md-icon>
                        <input  name="pass" ng-model="loginCtl.password" type="password" minlength="6"   required>
                        <div ng-messages="Form.pass.$error" role="alert">
                            <div ng-message="minlength">Password must be at least 6 characters</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Retype Password</label>
                        <md-icon class="material-icons">https</md-icon>
                        <input ng-keyup="$event.keyCode == 13 && loginCtl.signUp($event)"  name="repass" ng-model="loginCtl.rePassword" type="password" minlength="6"   required>
                        <div ng-messages="Form.repass.$error" role="alert">
                            <div ng-hide="loginCtl.passMatch">Password does not match</div>
                            <div ng-message="minlength">Password must be at least 6 characters</div>
                        </div>



                    </md-input-container>
                    <div layout="row" layout-align="center center" >
                        <md-button  ng-click="loginCtl.signUp($event)" class="md-raised md-primary md-hue-2"  ng-disabled="!Form.$valid">Sign Up</md-button>
                        <div flex="flex"></div>
                        <md-button ng-click="loginCtl.showSignIn = !loginCtl.showSignIn"  md-no-ink="md-no-ink">Sign In</md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>


</div>