<!DOCTYPE html>
<html>
    <head >

        <meta charset="UTF-8">
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="756227301628-v5pagfiq69uj64lid9ai54hfm1iv7omr.apps.googleusercontent.com">
        <title>Phạm Ngọc Linh - 1212202</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css'>
        <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
        <link rel="stylesheet" href="css/material-icons.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-78801913-1', 'auto');
            ga('send', 'pageview');

        </script>

    </head >
    <body layout="column" ng-app="myApp"  >

    <md-content>
        <div  class="toolbardemoBasicUsage"  ng-cloak>
            <div ng-controller="Ctrl as vm">




                <md-toolbar ng-show="vm.showSearch" style="background: white"   class=" animate-show   md-whiteframe-z1  l-pinned-top l-layer-5">
                    <div class="md-toolbar-tools">

                        <md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch" aria-label="Menu">
                            <md-icon class="material-icons">arrow_back</md-icon>
                        </md-button>

                        <span flex="5"></span>

                        <md-autocomplete  flex
                                          md-no-cache="true"
                                          md-selected-item="vm.selectedItem"
                                          md-search-text-change="vm.searchTextChange(vm.searchText)"
                                          md-search-text="vm.searchText"
                                          md-selected-item-change="vm.selectedItemChange(item)"
                                          md-items="item in vm.querySearch(vm.searchText)"
                                          md-item-text="item.data.name"
                                          md-min-length="1"
                                          placeholder="Pick an Angular repository"
                                          md-menu-class="autocomplete-custom-template">
                            <md-item-template>
                                <a href="#/user/{{item.id}}">
                                    <div layout="row">
                                        <div ng-show="item.isImg"> <img class="autocomplete-rsult-img" ng-src="{{item.data.img}}"></div>
                                        <div ng-show="!item.isImg" class="autocomplete-rsult-img"   style="margin-right: 10px">
                                            <ng-letter-avatar  dynamic="true"  fontSize="20"  shape="round" data="{{item.letter}}" charCount="2" >                        
                                            </ng-letter-avatar>
                                        </div>

                                        <div layout ="column"layout-align="center start">
                                            <span style="line-height: 25px;display: block;"><strong>{{item.data.name}}</strong></span>
                                            <span style="line-height: 25px;display: block;">{{item.data.email}}</span>


                                        </div>

                                    </div>


                                </a>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                </md-toolbar>





                <md-toolbar ng-hide="vm.showSearch"    class="md-hue-2 animate-show    main-nav l-pinned-top l-layer-5">
                    <nav>
                        <h1>
                            <a class="md-button md-ink-ripple" ng-transclude="" href="#/#" md-button>
                                <div class="md-ripple-container"></div></a>
                        </h1>

                        <button class="main-nav-button main-nav-mobile-trigger l-right md-button md-ink-ripple" type="button" ng-transclude="" aria-label="View Menu" ng-click="showDocsNav = !showDocsNav" md-button="md-button">
                            <span class="ng-scope">Menu </span>
                        </button>
                        <ul ng-class="showDocsNav ? 'visible' : ''">
                            <li class="l-left">
                                <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                    <span class="ng-scope">Features</span>
                                    <div class="md-ripple-container"></div>
                                </a>
                            </li>
                            <li class="l-left">
                                <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                    <span class="ng-scope">Profile</span>
                                    <div class="md-ripple-container"></div>
                                </a>
                            </li>
                            <li class="l-left">
                                <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                    <span class="ng-scope">Connection</span>
                                    <div class="md-ripple-container"></div>
                                </a>
                            </li>
                            <li class="l-left">
                                <a class="main-nav-button md-button md-ink-ripple" ng-transclude="" href="#" md-button="">
                                    <span class="ng-scope">Job</span>
                                    <div class="md-ripple-container"></div>
                                </a>
                            </li>





                            <li class="l-right nav-icon">
                            <md-menu ng-if="vm.isLogin">
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="More">
                                    <md-icon class="material-icons " ng-class="md - 24">&#xE5D4;</md-icon>

                                </md-button>
                                <md-menu-content class="main-nav-menu-content">  
                                    <md-menu-item >
                                        <console-account-chooser><div layout="row" class="c5e-account-chooser-box layout-row">
                                                <div  ng-show="vm.showAvatar" ><img  ng-src="{{vm.img}}"></div>
                                                <div ng-show="!vm.showAvatar">
                                                    <ng-letter-avatar  dynamic="true"  fontSize="20"  shape="round" data="{{vm.name}}" charCount="1" >                        
                                                    </ng-letter-avatar>
                                                </div>
                                                <div layout="column" class="layout-column">
                                                    <div class="c5e-account-chooser-email">
                                                        {{vm.email}}

                                                    </div>
                                                    <div class="c5e-account-chooser-signout">
                                                        <a href="#/logout">SIGN OUT</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </console-account-chooser>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                            </li>

                            <li ng-click="vm.showSearch = !vm.showSearch" class="l-right nav-icon">
                            <md-button class="md-icon-button" aria-label="More">
                                <img src="imgs/search.svg"/>
                            </md-button>
                            </li>






                            <!--                        <li class="l-right nav-icon">
                                                        <a style="color: white" href="#/logout">
                                                            <md-button  class="md-icon-button" aria-label="More">
                                                                <i class="material-icons">power_settings_new</i>
                                                                <md-tooltip>
                                                                    Logout
                                                                </md-tooltip>
                            
                                                            </md-button>
                                                        </a>
                                                    </li>-->
                            <!--                        <li class="l-right nav-icon">
                                                    <md-button class="md-icon-button" aria-label="More">
                                                        <img src="imgs/person.svg"/>
                                                    </md-button>
                                                    </li>
                                                    <li class="l-right nav-icon">
                                                    <md-button class="md-icon-button" aria-label="More">
                                                        <img src="imgs/message.svg"/>
                                                    </md-button>
                                                    </li>
                                                    <li class="l-right nav-icon">
                                                    <md-button class="md-icon-button" aria-label="More">
                                                        <img src="imgs/search.svg"/>
                                                    </md-button>
                                                    </li>-->
                        </ul> 
                    </nav>
                </md-toolbar>



            </div>










            <md-content id="content">
                <div class="wrapper" >
                    <div class="container-fluid" id="main" >


                        <ng-view></ng-view>
                    </div>



                </div>
            </md-content> 
        </div>
    </md-content>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.min.js"></script> 
    <!--    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
    <!--    <script src="component/bootstrap.min.js"></script>-->
    <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js'></script>
    <script src="component/ngletteravatar.min.js"></script>
    <script src="component/latinize.js"></script>



    <script src='https://code.angularjs.org/1.5.5/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script src="component/angular-translate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.3.3/angular-file-upload.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.11.0/angular-translate-loader-static-files.min.js"></script>

    <script src="app.js"></script>
    <script src="service/AuthFactory.js"></script>
    <script src='view/login/loginCtl.js'></script>
    <script src="service/HomeFactory.js"></script>
    <script src='view/home/homeCtl.js'></script>
    <script src='view/user/userCtl.js'></script>
    <script src="service/ToastFactory.js"></script>
    <script src="service/FacebookFactory.js"></script>




</body>
</html>
