
<div style="margin-top: -10px" layout="row">
    <div flex="30" layout="column">
        <md-toolbar class="animate-show  md-hue-2">

        </md-toolbar>
        <md-list >
            <md-list-item class="noright" ng-repeat="item in msgCtl.friendList" ng-click="msgCtl.getConversation(item)">
                <img ng-if="item.isImg" ng-src="{{item.img}}" class="md-avatar">
                <div ng-if="!item.isImg"   >
                    <ng-letter-avatar height="40px" width="40px"  dynamic="true" class="md-avatar"  fontSize="15"  shape="round" data="{{item.letter}}" charCount="1" >                        
                    </ng-letter-avatar></div>
                <p><strong>{{ item.name}}</strong></p>
                <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-fill="" flex="70" >
        <md-toolbar layout-align="center center" style="color: white" class="animate-show  md-hue-2">
            {{msgCtl.curFri.name}}
        </md-toolbar>
        <div  style="height:70vh; background: #0143A3;  overflow:hidden">
            <md-content style="height:100%">
                <md-list >
                    <md-list-item  ng-repeat="(key,value) in msgCtl.messages" class="md-3-line md-long-text">


                        <img ng-if="msgCtl.isImg(value)" ng-src="{{msgCtl.getData(value.isFromMe, 'img')}}" class="md-avatar"  />
                        <div ng-if="!msgCtl.isImg(value)" style="margin-right: 20px;"  class="md-avatar" >
                            <ng-letter-avatar  height="40px" width="40px"  dynamic="true" class="md-avatar"  fontSize="18"  shape="round" data="{{msgCtl.getLetter(value)}}" charCount="1" >                        
                            </ng-letter-avatar>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3><strong>{{msgCtl.getData(value.isFromMe, 'name')}}</strong> </h3>
                            <h4>{{value.message}}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>


        <div layout ="row"  layout-align="center center">
            <md-input-container flex class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Type a message</label>
                <input ng-model="msgCtl.msgSend"  ng-keyup="$event.keyCode == 13 && msgCtl.sendMessage()"  type="text" >
            </md-input-container>

            <md-button ng-click="msgCtl.sendMessage()" class="md-icon-button" aria-label="More">

                <md-icon class="material-icons " ng-class="md - 24">send</md-icon>
            </md-button>
        </div>

    </div>

